<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        pre {
            white-space: pre-wrap;
            word-break: break-all;
        }
    </style>

    <script>
        document.addEventListener('htmx:responseError', function (evt) {
            document.getElementById('error').innerHTML = evt.detail.xhr.response
        });
    </script>

    <script>
        function formsubmitted(event) {
            document.getElementById("active-search-result").innerHTML = '';
            document.getElementById("tbody").innerHTML = "";
        }

        function searchresultclicked(event) {
            document.getElementById("input").value = event.target.innerHTML;
            document.getElementById("form").requestSubmit();
        }
    </script>
</head>

<body>
    <main class="container">
        {{ if not . }}
        <form action="/oauth2_login" method="get">
            <div class="grid">
                <button>Login with Github</button>
            </div>
        </form>
        {{ else }}
        <form id="form" hx-get="/query" hx-indicator="#indicator" hx-target="#tbody" onsubmit="formsubmitted(event)">
            <div class="grid">
                <input id="input" type="search" name="login" placeholder="github login" required hx-post="/search"
                    hx-trigger="keyup changed delay:100ms" hx-target="#active-search-result" hx-indicator="none"
                    hx-sync="closest form:abort">
                <button>List comments <img id="indicator" class="htmx-indicator" src="/static/img/bars.svg"></button>
            </div>
        </form>
        <table>
            <tbody id="active-search-result"></tbody>
        </table>
        <table>
            <tbody id="tbody"></tbody>
        </table>
        <div id="error"></div>
        {{ end }}
    </main>
</body>