{{ define "reaction" -}}
{{ if ne .Reactors.TotalCount 0 }}
{{ if eq .Content "THUMBS_UP" }}
👍
{{ else if eq .Content "THUMBS_DOWN" }}
👎
{{ else if eq .Content "LAUGH" }}
😄
{{ else if
eq
.Content "HOORAY" }}
🎉
{{ else if eq .Content "CONFUSED" }}
😕
{{ else if eq .Content "HEART" }}
❤️
{{ else if eq .Content
"ROCKET" }}
🚀
{{ else if eq .Content "EYES" }}
👀
{{ end }}
{{ .Reactors.TotalCount }}
{{ end }}
{{- end }}

{{ define "issuecomments" -}}
<td title="{{ .UpdatedAt }}">{{ .UpdatedAt | ago }}</td>
<td>{{ .Repository.NameWithOwner }}</td>
<td><a href="{{ .URL }}" title="{{ .BodyText }}">{{ .Issue.Title }}</a></td>
<td>{{ range .ReactionGroups }}{{ template "reaction" . }}{{ end }}</td>
{{- end }}

{{ define "second" -}}
<main class="container">
    {{ if not .Authenticated }}
    <form action="/oauth2_login" method="get">
        <div class="grid">
            <button>Login with Github</button>
        </div>
    </form>
    {{ else }}
    <form method="get">
        <div class="grid">
            <input type="text" name="login" placeholder="github login" required>
        </div>
    </form>
    {{ end }}

    {{ with .Query }}
    <table>
        <tbody>
            {{ range .User.IssueComments.Nodes -}}
            <tr>
                {{ template "issuecomments" . }}
            </tr>
            {{- end }}
        </tbody>
    </table>

    {{ if .User.IssueComments.PageInfo.HasNextPage -}}
    <a href="/?login={{ .User.Login }}&cursor={{ .User.IssueComments.PageInfo.EndCursor }}">Next</a>
    {{- end }}
    {{ end }}
</main>
</body>

</html>
{{- end }}